html {
	min-width: 1200px;
}
/*-----Обгортка-----*/
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
/*-----Контейнер-----*/
.container {
	max-width: 1160px;
	margin: 0 auto;
}
/*-----Загальні класи-----*/
.ibg {
	position: relative;
}
.ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
.button {
	font-weight: 700;
	font-size: 15px;
	line-height: 32px;
	text-align: center;
	text-transform: uppercase;
	padding: 16px 17px;
	border-radius: 5px;
	box-shadow: 0 -5px #ffffff;
	transition: all 0.3s ease 0s;
	cursor: pointer;
}
.button:hover {
	box-shadow: 0 -3px #ffffff;
	transform: translateY(-3px);
}
.button.active {
	box-shadow: 0 -1px #ffffff;
	transform: translateY(-1px);
}
.title {
	font-size: 36px;
	line-height: 40px;
	text-align: center;
	color: #4e4e4e;
	position: relative;
}
.title::before,
.title::after {
	content: "";
	position: absolute;
	width: 76px;
	height: 1px;
	background-color: #18cfab;
}
.title::before {
	top: 73px;
	left: 535px;
}
.title.title::after {
	top: 76px;
	right: 535px;
}

.btn-loader {
	font-weight: 700;
	font-size: 14px;
	line-height: 42px;
	text-transform: uppercase;
	border-radius: 5px;
	padding: 9px 22px 9px 55px;
	background-color: #18cfab;
	margin: 70px 0px 100px 0px;
	cursor: pointer;
	position: relative;
	transition: all 0.3s ease 0s;
}
.btn-loader::before {
	content: url("../img/work/icons/plus.svg");
	position: absolute;
	left: 23px;
	top: 11px;
	transition: all 0.3s ease 0s;
}
.btn-loader:hover {
	box-shadow: 0px 0px 20px 3px rgba(24, 207, 171, 0.5);
}
.btn-loader:hover::before {
	animation: 2s animate forwards 10;
}
@keyframes animate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

.loader {
	color: #18cfab;
	font-size: 20px;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	position: absolute;
	animation: load 1.3s infinite linear;
	visibility: hidden;
}
.loader.active {
	visibility: visible;
}
@keyframes load {
	0%,
	100% {
		box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em,
			-3em 0 0 -1em, -2em -2em 0 0;
	}
	12.5% {
		box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em,
			-2em -2em 0 -1em;
	}
	25% {
		box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em,
			-3em 0 0 -1em, -2em -2em 0 -1em;
	}
	37.5% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em,
			-3em 0em 0 -1em, -2em -2em 0 -1em;
	}
	50% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0,
			-3em 0em 0 -1em, -2em -2em 0 -1em;
	}
	62.5% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0,
			-2em -2em 0 -1em;
	}
	75% {
		box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0,
			-3em 0em 0 0.2em, -2em -2em 0 0;
	}
	87.5% {
		box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0,
			-2em -2em 0 0.2em;
	}
}

/*-----Header-----*/

.header {
	background-image: url("../img/header/header_bg.jpg");
	position: relative;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	margin-bottom: 8px;
}
.header__nav-wrapper {
	background: rgba(94, 93, 88, 0.6);
	position: fixed;
	top: 0;
	width: 100%;
	overflow: hidden;
	margin-bottom: 250px;
	z-index: 5;
}
.header__nav-container {
	display: flex;
	justify-content: space-between;
}
.logo-header {
	display: flex;
	align-items: center;
	position: relative;
}
.logo-header__link-logo {
	font-weight: 700;
	font-size: 40px;
	line-height: 30px;
	background-color: #18cfab;
	padding: 1px 13px;
}
.logo-header::before {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	border-left: 30px solid transparent;
	border-right: 29px solid transparent;
	border-bottom: 18px solid #18cfab;
	top: 26px;
	left: 0px;
}
.logo-header::after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	border-left: 29px solid transparent;
	border-right: 30px solid transparent;
	border-top: 18px solid #18cfab;
	top: 76px;
	left: 0px;
}
.logo-header__link-title {
	font-size: 32px;
	line-height: 48px;
	padding-left: 6px;
}
.logo-header__link-title span {
	font-size: 32px;
	line-height: 48px;
	font-weight: 700;
	color: #18cfab;
}
.menu {
	margin-left: 334px;
}
.menu__list {
	display: flex;
	justify-content: space-between;
	padding: 48px 0px;
}
.menu__item {
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.6);
	padding-right: 21px;
	transition: all 0.3s ease 0s;
}
.menu__item:hover {
	color: #18cfab;
}
.menu__item:hover .menu__link {
	padding-bottom: 49px;
	border-bottom: 2px solid #18cfab;
}
.header__search {
	display: block;
	align-self: center;
}
.search-icon {
	transition: all 0.3s ease 0s;
}
.header__search:hover .search-icon {
	fill: #18cfab;
}
.header__content-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 379px;
}
.header__content {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}
.content-header__title {
	font-weight: 700;
	font-size: 35px;
	text-transform: uppercase;
	margin-top: 4px;
}
.content-header__title span {
	color: #18cfab;
}
.content-header__subtitle {
	font-weight: 700;
	font-size: 78px;
	text-transform: uppercase;
	margin: 26px 0;
}
.content-header__text {
	color: #d4d4d4;
	font-size: 34px;
	margin-bottom: 1px;
}
.header__buttons {
	margin: 122px 0px 243px 0px;
	position: relative;
}
.header__button-green {
	background-color: #18cfab;
	margin-right: 22px;
	padding-left: 24px;
	padding-right: 24px;
}
.header__button-blue {
	background-color: #00cbf6;
}

/*-----MAIN-----*/

/*----Option----*/

.optoin__body {
	display: flex;
	justify-content: center;
	margin-bottom: 90px;
}
.option__column {
	flex: 0 1 25%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.option__column:nth-child(odd) {
	background-color: #1c2a33;
	color: #18cfab;
}
.option__column:nth-child(even) {
	background-color: #18cfab;
}
.item-option {
	height: 100%;
	padding: 85px 0 103px 0;
}
.item-option__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 97px;
	margin-bottom: 51px;
}
.option__title {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
}

/*----Services----*/

.services {
	margin-bottom: 91px;
}
.services__body {
	margin-top: 97px;
}
.menu-services {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}
.menu-services__item {
	background-color: #f8fcfe;
	border: 1px solid #edefef;
	line-height: 39px;
	text-align: center;
	color: #717171;
	padding: 16px 0px;
	flex: 0 1 16.666%;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}
.menu-services__item:hover {
	border: 1px solid #18cfab;
}
.active__menu-services {
	color: #ffffff;
	background-color: #18cfab;
	position: relative;
}
.active__menu-services:after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	border-top: 15px solid #18cfab;
	top: 71px;
	left: 83px;
}
.content-services__column {
	display: none;
}
.active-content {
	display: block;
}
.content-services__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.content-services__img {
	padding: 0px 0px 12% 0px;
	flex: 0 1 90%;
}
.content-services__text {
	font-weight: 300;
	font-size: 14px;
	line-height: 24px;
	color: #777777;
	margin-left: 15px;
}

/*----Purshase----*/
.purchase {
	background: url("../img/purshase/purshase_bg.jpg"), rgba(0, 0, 0, 0.78);
	background-blend-mode: overlay;
	background-position: 0 -325px;
	background-repeat: no-repeat;
	background-size: cover;
}
.purchase__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 127px;
}

.purchase__title {
	font-weight: 700;
	font-size: 40px;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;
	color: #18cfab;
	margin-bottom: 20px;
}
.purshase__text {
	line-height: 40px;
	text-align: center;
	color: #d8d8d8;
}
.purshase__button {
	background-color: #18cfab;
	margin: 58px 496px 128px 496px;
}

/*-----Work-----*/

.work {
	padding-top: 97px;
	background-color: #e9edef;
}
.work__title {
	margin-bottom: 90px;
}
.work__list {
	display: flex;
	justify-content: center;
}
.work__item {
	font-size: 14px;
	line-height: 42px;
	color: #717171;
	border: 1px solid #dadada;
	padding: 9px 16px;
	cursor: pointer;
}
.work__item:first-child {
	padding-left: 30px;
	padding-right: 30px;
}
.work__item.active {
	color: #18cfab;
	border: 2px solid #18cfab;
}
.work__gallery {
	padding-top: 69px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.work__img {
	flex: 0 1 25%;
	padding: 0px 0px 18.2% 0px;
	position: relative;
	display: none;
	transition: all 0.5s ease 0s;
}
.active-img {
	display: block;
}
.work__img:hover .card-reverse {
	height: 211px;
}
.card-reverse {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 0;
	background-color: #e9edef;
	transition: all 0.5s ease 0s;
}
.icon {
	display: flex;
	justify-content: center;
	border-top: 2px solid #18cfab;
	padding: 45px 0px 30px 0px;
}
.icon__link {
	display: block;
	position: relative;
	transition: all 0.8s ease 0s;
}
#green1,
#green2,
#none1,
#none2 {
	transition: all 0.3s ease 0s;
}
.icon__link:first-child:hover #green1 {
	fill: #e9edef;
}
.icon__link:first-child:hover #none1 {
	fill: #18cfab;
}
.icon__link:last-child:hover #green2 {
	fill: #e9edef;
}
.icon__link:last-child:hover #none2 {
	fill: #18cfab;
}
.card-reverse__title {
	font-weight: 700;
	font-size: 14px;
	line-height: 25px;
	text-transform: uppercase;
	color: #18cfab;
	text-align: center;
}
.card-reverse__subtitle {
	font-weight: 300;
	font-size: 12px;
	line-height: 25px;
	color: #8a8a8a;
	text-align: center;
}
.work__button-wraprer {
	display: flex;
	justify-content: center;
	align-items: center;
}
.work__button.disable {
	visibility: hidden;
}

/*----News----*/

.news {
	margin-top: 84px;
	margin-bottom: 130px;
}
.news__body {
	margin-top: 138px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.news__column {
	flex: 0 1 25%;
	padding: 0px 33px 44px 0px;
	transition: all 0.3s ease 0s;
}
.news__column:hover .item-news__title {
	color: #18cfab;
}
.news__column:hover .item-news__date {
	background-color: #18cfab;
}
.item-news {
	display: flex;
	flex-direction: column;
	height: 100%;
	position: relative;
}
.item-news__img {
	display: block;
	padding: 0px 0px 79% 0px;
}

.item-news__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #f8fcfe;
	border: 1px solid #f2f4f5;
}
.item-news__title {
	font-weight: 700;
	font-size: 18px;
	line-height: 39px;
	text-align: center;
	color: #717171;
	transition: all 0.3s ease 0s;
}
.item-news__text {
	font-weight: 300;
	font-size: 14px;
	line-height: 39px;
	text-align: center;
	color: #777777;
}
.item-news__date {
	background-color: #203e38;
	line-height: 25px;
	text-align: center;
	position: absolute;
	top: 0;
	right: 0;
	padding: 9px 20px;
	transition: all 0.3s ease 0s;
}

/*-----People-----*/

.people {
	padding-top: 98px;
	background-image: url("../img/people/people_bg.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding-bottom: 100px;
}
.people__title {
	margin-bottom: 168px;
	color: #ffffff;
}
.slider__body {
	margin-bottom: 50px;
}
.slider__column {
	display: none;
}
.slider__column.active {
	display: flex;
	animation: scale-display-left 0.7s ease-in-out;
	transform-origin: left;
}
@keyframes scale-display-left {
	0% {
		opacity: 0;
		transform: translateX(-100%);
		visibility: hidden;
	}

	100% {
		opacity: 1;
		transform: translateX(0);
		visibility: visible;
	}
}
@keyframes scale-display-right {
	0% {
		opacity: 0;
		transform: translateX(100%);
		visibility: hidden;
	}

	100% {
		opacity: 1;
		transform: translateX(0);
		visibility: visible;
	}
}
.item-slider {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.item-slider__text {
	font-weight: 300;
	font-size: 16px;
	line-height: 30px;
	text-align: center;
	color: #bbbbbb;
	margin-bottom: 37px;
	position: relative;
}
.item-slider__text::after {
	content: "";
	width: 44px;
	height: 32px;
	position: absolute;
	background-image: url("../img/people/shape.svg");
	left: 558px;
	bottom: 86px;
}
.info-item {
	display: block;
	flex-direction: column;
	text-align: center;
	margin-bottom: 38px;
}
.info-item__name {
	font-weight: 700;
	line-height: 27px;
	color: #18cfab;
}
.info-item__job {
	font-weight: 300;
	font-size: 13px;
	line-height: 27px;
	color: #bbbbbb;
}
.item-slider__foto {
	width: 170px;
	height: 170px;
	border-radius: 50%;
	border: 12px solid rgba(31, 218, 181, 0.2);
	overflow: hidden;
}
.faces {
	display: flex;
	justify-content: center;
	align-items: center;
}
.faces__body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.faces__item {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 6px solid rgba(31, 218, 181, 0.2);
	overflow: hidden;
	margin: 0px 15px 0px 15px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}
.faces__item.ibg.active {
	transform: translateY(-15px);
}
.faces__item:hover {
	border: 6px solid rgba(31, 218, 181, 0.4);
}
.faces__btn {
	width: 31px;
	height: 31px;
	border: 1px solid #bbbbbb;
	cursor: pointer;
	position: relative;
	transition: all 0.3s ease 0s;
}
.btn-prev {
	margin-right: 20px;
}
.btn-prev::after {
	content: url("../img/people/arrow.png");
	position: absolute;
	top: 8px;
	left: 10px;
}
.btn-next {
	margin-left: 20px;
}
.btn-next::after {
	content: url("../img/people/arrow.png");
	position: absolute;
	top: 6px;
	left: 12px;
	transform: rotate(180deg);
}
.faces__btn:hover {
	background-color: #18cfab;
	border: 0;
}
/*-----Best-----*/

.best__title {
	margin: 110px 0;
}
.best__body {
	display: flex;
	justify-content: center;
	margin: 0px -10px;
}
.best__column {
	flex: 0 1 33.333%;
	margin: 0px 10px;
}
.best__column:last-child {
	flex: 0 1 32.3%;
}
.best__item {
	display: flex;
	height: 100%;
	flex-direction: column;
}

.item-best__hover {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	visibility: hidden;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.64);
	color: black;
	transform: translateY(5%);
	transition: all 1s;
}
.best__item a:hover .item-best__hover {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
.hover-best__icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 27px;
	height: 25px;
	border: 1px solid #14b9d5;
	margin-right: 20px;
	transition: background 0.5s ease-out;
}
.icon-search:hover,
.icon-screen:hover {
	background: #14b9d5;
}
.item-best1__image {
	display: block;
}
.item-best1__image:first-child,
.item-best1__image:nth-child(2) {
	padding: 0px 0px 70% 0px;
}
.item-best1__image:nth-child(2) {
	margin: 20px 0;
}
.item-best1__image:last-child {
	padding: 0px 0px 77% 0px;
}
.item-best2__image:first-child {
	padding: 0px 0px 99% 0px;
}
.item-best2__image:nth-child(2) {
	margin: 20px 0;
	padding: 0px 0 65% 0px;
}
.item-best2__image:last-child {
	padding: 0px 0px 67% 0px;
}
.block1-item__section1 {
	display: flex;
	justify-content: space-between;
}
.section1-item__image {
	display: block;
	padding: 0px 0px 45% 0px;
	flex: 0 1 50%;
	margin-bottom: 3px;
}
.section1-item__image:first-child {
	margin-right: 3px;
}
.block1-item__section2 {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.section2-item__image {
	display: block;
	padding: 0px 0px 24.65% 0px;
	margin: 0 3px 3px 0;
	flex: 0 1 32.7%;
}
.section2-item__image:nth-child(3),
.section2-item__image:nth-child(6),
.section2-item__image:nth-child(9) {
	margin-right: 0;
}
.item-best3__block2 {
	margin-top: 16px;
	height: 100%;
}
.block2-item__image {
	padding: 0px 0px 103% 0px;
	display: block;
}
.best__button-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}
.best__button {
	font-weight: 700;
	font-size: 14px;
	line-height: 42px;
	text-transform: uppercase;
	border-radius: 5px;
	padding: 9px 22px 9px 55px;
	background-color: #18cfab;
	margin: 52px 0px 67px 0px;
	cursor: pointer;
	position: relative;
	transition: all 0.3s ease 0s;
}
.best__button::before {
	content: url("../img/work/icons/plus.svg");
	position: absolute;
	left: 23px;
	top: 11px;
	transition: all 0.3s ease 0s;
}
.best__button:hover {
	box-shadow: 0px 0px 20px 3px rgba(24, 207, 171, 0.5);
}
.best__button:hover::before {
	animation: 2s animate forwards 10;
}

/*-----FOOTER-----*/

.footer {
	background-color: #22353f;
	padding: 48px 0;
}
.footer__content {
	font-weight: 300;
	font-size: 14px;
	line-height: 26px;
	color: #aeaeae;
	text-align: center;
}
.footer__content span {
	color: #18cfab;
}
